.navtop {
	background-color: midnightblue;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #2551d3;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}
.inputBx{
    
	position: relative;
	width: 100%;
	margin-bottom: 20px;
 
 }
.inputBx input{
 
	 width: 90%;
	 outline: none;
	 border: 1px solid rgba(36, 33, 199, 0.37);
	 background: transparent;
	 padding: 8px 6px;
	 padding-left: 35px;
	 border-radius: 8px;
	 color: rgb(0, 0, 0);
	 font-size: 16px;
	 font-weight: 300;
	 box-shadow:  inset 0 0 25px rgba(32, 20, 146, 0.2);
 }
 .inputBx input::placeholder{
    
	color: rgb(0, 0, 0);
}
.content > div input {
	padding: 5px;
	margin: 0 0 10px 0;
}

.box{
	position: relative;
	padding: 10px;
	margin: 100px;
	width: 85%;
	height: 100%;
	border-radius: 5px;
	display: inline-block;
	background: white;
	align-items: center;
	justify-content: center;
	box-shadow: midnightblue;
}

.box .from {
position: relative;
width: 200px;
} 

.box .from .from1{

	position : relative;
	padding: 10px;
	margin: 10px;
	width: 200px;
	height: 500px;
	border-radius: 5px;
	background: #F0F8FF;
	box-shadow: midnightblue;

}

.box .from .from1 h2{ 
	
	text-align: center;
    color: midnightblue;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 38px;

}

.box .from .from1 p{ 
	
    color: #000;
    font-weight: 50px;
	padding :10px;
    letter-spacing: 1px;

}

.box .from .from1 h3{ 
	
    color: midnightblue;
    font-weight: 400;
    letter-spacing: 2px;

}
.box .from .from2{

	position : relative;
	padding: 10px;
	margin-left: 300px;
	margin-top :-530px;
	width: 200px;
	height: 500px;
	border-radius: 5px;
	background: #F0F8FF;
	box-shadow: midnightblue;

}

.box .from .from2 h2{ 
	
	text-align: center;
    color: midnightblue;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 38px;

}

.box .from .from2 p{ 
	
    color: #000;
    font-weight: 50px;
	padding :10px;
    letter-spacing: 1px;

}

.box .from .from2 h3{ 
	
    color: midnightblue;
    font-weight: 400;
    letter-spacing: 2px;

}
.box .from .from3{

	position : relative;
	padding: 10px;
	margin-left: 600px;
	margin-top :-520px;
	width: 200px;
	height: 500px;
	border-radius: 5px;
	background: #F0F8FF;
	box-shadow: midnightblue;

}

.box .from .from3 h2{ 
	
	text-align: center;
    color: midnightblue;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 38px;

}

.box .from .from3 p{ 
	
    color: #000;
    font-weight: 50px;
	padding :10px;
    letter-spacing: 1px;

}

.box .from .from3 h3{ 
	
    color: midnightblue;
    font-weight: 400;
    letter-spacing: 2px;

}
.box .from .from1 input[type ="submit"]{
    
    background:midnightblue;
    color:#fff;
    margin-top: 55px;
	height:50px;
    width: 200px;
    padding: 8px 6px;
    box-shadow: none;
    font-weight: 500px;
    letter-spacing: 1px;
    cursor: pointer;
 
 }
 .box .from .from2 input[type ="submit"]{
    
    background:midnightblue;
    color:#fff;
    margin-top: 55px;
	height:50px;
    width: 200px;
    padding: 8px 6px;
    box-shadow: none;
    font-weight: 500px;
    letter-spacing: 1px;
    cursor: pointer;
 
 }
 .box .from .from3 input[type ="submit"]{
    
    background:midnightblue;
    color:#fff;
    margin-top: 0px;
	height :50px;
    width: 200px;
    padding: 8px 6px;
    box-shadow: none;
    font-weight: 500px;
    letter-spacing: 1px;
    cursor: pointer;
 
 }
 



